@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Josefin+Sans:ital,wght@0,500;1,700&display=swap");
* {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #e9dbdb; }

body {
  text-decoration: none;
  font-size: 20px;
  background: radial-gradient(black, #272424);
  background-size: 50%;
  background-attachment: fixed;
  margin: 0px; }

main {
  padding-top: 120px; }
  main form fieldset label {
    color: #fae3a8; }
  main form fieldset input {
    background-color: #242224; }
  main form fieldset textarea {
    background-color: #242224; }
  main form fieldset select {
    background-color: #242224; }

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 1.5vw 0;
  font-size: 5vmin;
  font-weight: 800;
  color: #ecac63; }

h3, h4 {
  padding-left: 20px;
  font-size: 20px; }

.nav-item2 {
  padding: 2vh; }
  .nav-item2:hover {
    background-color: rgba(255, 255, 255, 0.01); }

.seccion {
  padding: 5vh 5vw 5vh 5vw;
  font-size: 3vmin;
  text-align: center; }

.bg__tipoSeccion--1 {
  background: radial-gradient(#131414, #272424); }

.bg__tipoSeccion--2 {
  background: linear-gradient(to bottom, #272424, #3f3838); }

.bg__tipoSeccion--3 {
  background: radial-gradient(#494944, #746b6b);
  opacity: 1;
  box-shadow: 0 0 100px 5px grey; }

.txtCenter {
  font-size: 4.25vmin; }

#op {
  opacity: 0; }

.imagenes__tamaño--primerFila {
  height: 320px; }

.imagenes__tamaño--segundaFila {
  height: 600px; }

.nav__texto--crema {
  color: #fae3a8; }

.div__textoParrafos--principal {
  letter-spacing: 0.5px;
  font-family: "Josefin", sans-serif;
  font-weight: 700; }

.footer__iconos--derecha {
  float: right;
  height: 5vh; }

.display {
  display: flex; }

.center {
  justify-content: center; }

.spaced {
  justify-content: space-evenly; }

.div__tamaño--80 {
  width: 80%; }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.opacidad {
  opacity: 0.95; }

.div__fadeIn {
  animation-name: opacity; }

.z-index-2 {
  z-index: 2; }

.div__animacion--1s {
  animation-duration: 1s; }

.div__animacion--3s {
  animation-duration: 3s; }

.div__animacion--5s {
  animation-duration: 5s; }

.div__animacion--7s {
  animation-duration: 7s; }

.div__transicion--1s {
  transition: 1s; }

.div__transicion--3s {
  transition: 3s; }

.div__transicion--5s {
  transition: 5s; }

.animacionImagenes--1:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer; }

.animacionImagenes--2:hover {
  transform: scale(1.15, 1.15);
  cursor: pointer; }

.brillo {
  filter: brightness(0.75); }
  .brillo:hover {
    filter: brightness(1); }

#imgshome {
  justify-content: space-around; }

#logo {
  grid-area: logo; }

#logoPrincipal {
  padding: 100px 0 100px 0; }

#botonera {
  grid-area: botonera; }

#caja2 {
  border: 2px solid white;
  margin: 0px 5vw 30px 5vw;
  padding: 3vw;
  font-size: 3vmin;
  background-image: url(../Imagenes/seccion2.png); }

#error {
  width: 100vw;
  height: 98.9vh;
  object-fit: cover;
  background: no-repeat;
  background-size: cover;
  z-index: 1; }

#textError {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 300px;
  position: absolute; }

#buttonError {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin-top: 400px; }
  #buttonError:hover {
    transition: 5s;
    color: #f1f1a1;
    background: rgba(255, 0, 0, 0.021); }

#formulario {
  padding-top: 15px; }

#botonenviar {
  text-decoration: none;
  color: white;
  background-color: #242224;
  padding: 3px;
  border: 1px solid white; }

header {
  width: 100%;
  position: fixed;
  height: 20hv;
  z-index: 2;
  background: linear-gradient(to bottom, #1b1b1b, #3b3b3b); }
  header nav {
    padding: 5px; }
    header nav a img:hover {
      transform: rotateY(360deg);
      transition: transform 2s;
      cursor: pointer; }
    header nav ul li {
      text-transform: uppercase;
      margin: 0 20px;
      font-size: 20px; }
      header nav ul li a {
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: 1s; }
        header nav ul li a:hover, header nav ul li a:focus {
          background-size: 100% 2px;
          color: red; }

footer {
  padding-top: 2.5vh;
  height: 10vh;
  z-index: 2;
  background: linear-gradient(to bottom, #1b1b1b, #3b3b3b); }
  footer div p {
    font-size: 3vmin; }
