$colorGeneral:rgb(233,219,219);
$fondoPrincipal: radial-gradient(black, rgb(39, 36, 36));
$fondoSecundario: linear-gradient(to bottom, rgb(27, 27, 27), rgb(59, 59, 59));
$fondoSeccionUno: radial-gradient(#131414, rgb(39, 36, 36));
$fondoSeccionDos: linear-gradient(to bottom,rgb(39,36,36), rgb(63, 56, 56));
$fondoSeccionTres: radial-gradient(#494944, rgb(116, 107, 107));
$alturaPrimerFila: 320px;
$alturaSegundaFila: 600px;
$duracion: 2s;
$iconos: 5vh;

//linear-gradient(to bottom, #131414), black);