*{
    font-family: $fuentePrincipal;
    font-weight: $grosorGeneral;
    letter-spacing: $espaciadoGeneral;
    color: $colorGeneral;
}

body{
    text-decoration: none;
    font-size: $textoChico;
    background: $fondoPrincipal;
    background-size: 50%;
    background-attachment:fixed;
    margin: 0px;
}

main{
    padding-top: 120px;
    form{
        fieldset{
            label{
                color:rgb(250, 227, 168)
            }
            input{
                background-color:rgb(36, 34, 36);
            }
            textarea{
                background-color:rgb(36, 34, 36);
            }
            select{
                background-color:rgb(36, 34, 36);
            }
        }
    }
}

h1,h2{
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 1.5vw 0;
    font-size: $textoGrande;
    font-weight: $grosorTitulos;
    color: rgb(236, 172, 99);
}

h3,h4{
    padding-left: 20px;
    font-size: $textoChico;
}

.nav-item2{
    padding: 2vh;
    &:hover{
        background-color: rgba(255, 255, 255, 0.01);
    }
}

.seccion{
    padding: 5vh 5vw 5vh 5vw;
    font-size: $textoIntermedio;
    text-align: center;
}

.bg__tipoSeccion--1{
    background: $fondoSeccionUno;
}

.bg__tipoSeccion--2{
    background: $fondoSeccionDos;
}

.bg__tipoSeccion--3{
    background: $fondoSeccionTres;
    opacity: 1;
    box-shadow: 0 0 100px 5px grey; 
}

.txtCenter{
    font-size: 4.25vmin ;
}

#op{
    opacity: 0;
}

.imagenes__tamaño--primerFila{
    height:$alturaPrimerFila;
}

.imagenes__tamaño--segundaFila{
    height: $alturaSegundaFila;
}

.nav__texto--crema{
    color:rgb(250, 227, 168)
}

.div__textoParrafos--principal{
    letter-spacing: $espaciadoParrafos;
    font-family: $fuenteSecundaria;
    font-weight: $grosorParrafos;
}

.footer__iconos--derecha{
    float: right;
    height: $iconos;
}

.display{
    display: flex;
}

.center{
    justify-content: center;
}

.spaced{
    justify-content: space-evenly;
}

.div__tamaño--80{
    width: 80%;
}

@keyframes opacity{
    from{opacity:0;}
    to{opacity:1;}
}

.opacidad{
    opacity: 0.95;
}

.div__fadeIn{
    animation-name: opacity;
}

.z-index-2{
   z-index: 2; 
}

@for $i from 0 through 3{
    .div__animacion--#{1s+($duracion*$i)} {animation-duration: 1s+($duracion*$i);}
}

@for $i from 0 through 2{
    .div__transicion--#{1s+($duracion*$i)} {transition: 1s+($duracion*$i);}
}

@for $i from 1 through 2{
    .animacionImagenes--#{$i}:hover {
        transform: scale(($i/10)+0.95,($i/10)+0.95);
        cursor: pointer;}
}

.brillo{
    filter: brightness(0.75);
    &:hover{
        filter: brightness(1);
    }
}

#imgshome{
    justify-content: space-around;
}

#logo{
    grid-area: logo;
}

#logoPrincipal{
    padding: 100px 0 100px 0;
}

#botonera{
    grid-area: botonera;
}

#caja2{
    border: 2px solid rgb(255, 255, 255);
    margin: 0px 5vw 30px 5vw;
    padding: 3vw;
    font-size: $textoIntermedio;
    background-image: url(../Imagenes/seccion2.png);
}

#error{
    width: 100vw;
    height: 98.9vh;
    object-fit: cover;
    background: no-repeat;
    background-size: cover; 
    z-index: 1;
}

#textError{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 300px; //Ajustar con import de sass
    position: absolute;
}

#buttonError{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin-top: 400px;
    &:hover{
        transition: 5s;
        color: rgb(241, 241, 161);
        background: rgba(255, 0, 0, 0.021);
    }
}

#formulario{
    padding-top: 15px;
}

#botonenviar{
    text-decoration: none;
    color:white;
    background-color:rgb(36, 34, 36);
    padding: 3px;
    border: 1px solid white;
}






