@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Josefin+Sans:ital,wght@0,500;1,700&display=swap');

$fuentePrincipal:'Dosis',sans-serif;
$fuenteSecundaria:'Josefin',sans-serif;
$textoGrande:3.75vmin;
$textoIntermedio:3vmin;
$textoChico:20px;
$grosorTitulos:800;
$grosorParrafos:700;
$grosorGeneral:600;
$espaciadoGeneral:1.5px;
$espaciadoParrafos:0.5px;
