@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Josefin+Sans:ital,wght@0,500;1,700&family=Oswald:wght@300;500&display=swap');
*{
    font-family: 'Dosis',sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgb(233, 219, 219);
}

body{
    text-decoration: none;
    font-size: 18px;
    background: radial-gradient(black, rgb(19, 18, 18));
    background-size: 25%;
    background-attachment:fixed;
    margin: 0px;
}

ratio{
    width: 100%;
    aspect-ratio: 16/9;
}

h1,h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

h3{
    padding-left: 20px;
    font-size: 20px;
}

main{
    padding-top: 120px;
}
     article div img:hover{
        transform: scale(1.1,1.1);
        transition: 2s;
        cursor: pointer;
    } 

header{
    position: fixed;
    width: 100%;
    height: 20hv;
    z-index:2;
    background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(59, 59, 59));
}
    nav a img:hover{
        transform: rotateY(360deg);
        transition: transform 2s;
        cursor: pointer;
    }

nav{
    padding: 5px;   
}
    nav ul li{
        text-transform: uppercase;
        font-weight: 500;
        margin:0 20px;
        font-size: 20px;
    }
    nav ul li :hover{
        color: rgb(218, 14, 14);
        transition: 1s;
    }
        nav ul li a{
            color:white;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;
        }
        a:hover, a:focus {
            background-size: 100% 2px;
        }

h1,h2{
    padding-left: 10px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(236, 172, 99);
}

form fieldset label{
            color:rgb(250, 227, 168)
        }

        input, textarea, select{
            background-color:rgb(36, 34, 36);
        }

.h{
    height: 50hv;
}

.h2{
    height: 600px;
}

.textLists{
    color:rgb(250, 227, 168)
}

.textTitle{
    font-weight: 500;
}

.paragraph{
    letter-spacing: 0.5px;
    font-family: 'Josefin',sans-serif;
    font-weight: 700;
}

@keyframes opacity{
    from{opacity:0;}
    to{opacity:1;}
}

.opacidad{
    animation-name: opacity;
    animation-duration: 7s;
}

.opacity :hover{
    animation-name: opacity;
    animation-duration: 7s;
}

.caja1{
    height: 12.5vh;
}

.caja3{
    float: right;
}

.display{
    display: flex;
}

.center{
    justify-content: center;
}

.column{
    flex-direction: column;
    align-items: center;
}

.w-80{
    width: 80%;
}

.spaced{
    justify-content: space-evenly;
}

#logo{
    grid-area: logo;
}

#logoPrincipal{
    padding: 100px 0 100px 0;
}

#botonera{
    grid-area: botonera;
}

#caja2{
    border: 2px solid white;
    margin: 0px 150px 30px 150px;
    padding: 30px;
    font-size: 25px;
    background-image: url(../Imagenes/seccion2.png);
}

#formulario{
    padding-top: 15px;
}

@media only screen and (min-width: 0px) {
    .h{
        height: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .h{
        height: 270px;
    }
}

@media only screen and (min-width: 992px) {
    .h{
        height: 270px;
    }
}

@media only screen and (min-width: 1100px) {
    .h{
        height: 280px;
    }
}

@media only screen and (min-width: 1200px) {
    .h{
        height: 290px;
    }
}

@media only screen and (min-width: 1300px) {
    .h{
        height: 300px;
    }
}

@media only screen and (min-width: 1400px) {
    .h{
        height: 310px;
    }
}

@media only screen and (min-width: 1500px) {
    .h{
        height: 320px;
    }
}